@tailwind base;
@tailwind components;
@tailwind utilities;


._container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40;
    background-color: #F2F2F2;
}

.scroll{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar{
    display: none;
}